* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100vh; }

body {
  background-image: url(../img/fondo.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Alkatra', cursive; }

/* Body */
.grid__container {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "navbar" "main" "footer"; }

header {
  grid-area: header; }

nav {
  grid-area: navbar; }

main {
  grid-area: main;
  padding: 20px; }

footer {
  grid-area: footer; }

/* Config Header */
/* Config del Navbar */
.header_container {
  height: 60px;
  width: 100%;
  background-color: #166ecc; }
  .header_container nav {
    height: 60px;
    display: flex;
    justify-content: start;
    position: relative; }
    .header_container nav h1 {
      text-align: start;
      position: absolute;
      font-size: 45px;
      padding-left: 2rem; }
      .header_container nav h1 a {
        color: #70d010;
        text-decoration: none; }
    .header_container nav p {
      text-align: start;
      position: absolute;
      padding-left: 6rem;
      top: 2.5rem;
      font-size: 16px; }

/* Menu Hamburguesa*/
.checkbox,
.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: 10px;
  right: 12px;
  cursor: pointer; }

.icon {
  pointer-events: none;
  font-size: 24px; }

.checkbox {
  opacity: 0; }

.fi-rr-cross {
  display: none; }

.checkbox:checked ~ .fi-rr-menu-burger {
  display: none; }

.checkbox:checked ~ .fi-rr-cross {
  display: block; }

.menu {
  width: 130px;
  position: absolute;
  top: -250px;
  right: 0px;
  transition: 250ms;
  z-index: 1; }
  .menu li {
    display: block;
    text-align: start;
    list-style: none;
    font-size: 14px;
    line-height: 20px; }
    .menu li a {
      text-decoration: none;
      background-color: #fff;
      color: #ff8351;
      display: block;
      padding: 10px 6px; }
      .menu li a:hover {
        background: #166ecc;
        color: #fff; }

.checkbox:checked ~ .menu {
  top: 40px; }

h1 {
  margin: 0; }

/* Estes es el Main*/
main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em; }

section {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  flex: 1 1 300px;
  padding: 1em; }
  section h2 {
    font-size: 1.5em;
    margin: 0 0 0.5em;
    color: #fff; }
  section ul {
    margin: 0;
    padding: 0; }
  section li {
    list-style: none; }
  section .img_compra {
    width: 100%;
    max-width: 200px;
    margin-left: 12%; }

#products ul {
  margin: 0;
  padding: 0; }
  #products ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    #products ul li a {
      padding: 5px; }
      #products ul li a:hover {
        transform: scale(1.2);
        transition: 600ms; }
      #products ul li a img {
        width: 100%;
        height: 150px;
        max-width: 100px;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8); }

button {
  border: 1px solid #f5eded;
  color: #ff8351;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.2em; }
  button:hover {
    background-color: transparent;
    color: #fff; }

main p {
  font-size: 1.4em;
  margin-top: 1em;
  text-align: right;
  color: #fff; }

.Newsletter {
  display: block;
  text-align: center;
  justify-content: center; }
  .Newsletter h4 {
    font-size: 2em;
    color: #fff; }
  .Newsletter p {
    text-align: center;
    font-size: 1.3em;
    color: #fff; }

.mt-4 {
  padding: 5px; }

.mt-4 [type=checkbox] + span:not(.lever) {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1em;
  padding-right: 1.5em;
  padding-left: 5px;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  user-select: none; }

button {
  border: 1px solid #f5eded;
  color: #ff8351;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1em;
  padding: 1px; }
  button:hover {
    color: #fff; }
  button p {
    font-size: 1.4em;
    margin-top: 1em;
    text-align: center;
    color: #fff; }

.pagos {
  display: block;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem; }
  .pagos h5 {
    font-size: 1.5em;
    margin-top: 5%;
    color: #fff; }
  .pagos ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
    .pagos ul li {
      display: inline-block;
      line-height: 1.25;
      list-style: none;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 6px;
      height: 40px;
      width: 60px;
      margin: 8px;
      padding: 6px;
      overflow: hidden; }
      .pagos ul li .pog-ui-logos-list__image {
        display: block;
        width: 100%; }

@media screen and (min-width: 768px) {
  .Newsletter p {
    text-align: center;
    position: relative; }

  .mt-4 {
    margin: 0;
    padding: 0; }

  .pagos {
    width: 500px;
    margin-left: 15%; }
    .pagos h5 {
      font-size: 30px;
      margin-left: 1rem;
      margin-top: 2rem;
      color: #fff; } }
@media screen and (min-width: 1024px) {
  .pagos h5 {
    margin-left: 5rem; }
  .pagos ul {
    margin-left: 20%; } }
/* Este es el Footer*/
footer {
  display: flex;
  position: static;
  background-color: #166ecc;
  justify-content: center;
  align-items: center;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  flex-wrap: wrap; }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    flex-direction: column; }
    footer div h3 {
      display: none;
      color: #ff8351;
      padding: 0; }
    footer div ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      margin-top: 1rem; }
      footer div ul li {
        display: inline-block;
        text-align: start;
        list-style: none;
        font-size: 17px;
        line-height: 20px;
        margin-right: 1rem;
        margin-bottom: 0.5rem; }
        footer div ul li a {
          text-decoration: none;
          color: #ff8351;
          padding-left: 10px; }
          footer div ul li a:hover {
            color: #fff; }

@media screen and (min-width: 768px) {
  .menu_footer ul li {
    font-size: 22px; } }
.logos {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%; }
  .logos a {
    margin-right: 1rem; }
    .logos a img {
      width: 60px;
      height: 60px; }

.maps {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%; }
  .maps iframe {
    width: 100%;
    height: 150px; }

span {
  width: 100%; }
  span p {
    position: static;
    left: 10px;
    bottom: 5px;
    margin: 0;
    font-size: 10px;
    width: 300px;
    color: #fff; }

@media screen and (min-width: 768px) {
  .logos {
    display: flex;
    position: absolute;
    margin: 0;
    right: 5%; }
    .logos a {
      margin-right: 1rem; }
      .logos a img {
        width: 60px;
        height: 60px; }

  span p {
    font-size: 11px; } }

/*# sourceMappingURL=mi-carrito.css.map */
