* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Seymour One', sans-serif;
    font-family: 'Aboreto', cursive;
    font-size: 62, 5%;
    height: 100vh;
}

body {
    font-family: 'Seymour One', 'Aboreto', cursive, sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-image: url(https://fondosmil.com/fondo/32202.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Body */


.grid__container {
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "footer";
}

header {
    grid-area: header;

}

nav {
    grid: navbar;

}

main {
    grid-area: main;

    padding: 20px;
}

footer {
    grid-area: footer;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    /* Ajusta la altura según sea necesario */
    background-color: #9c90dd;
    text-align: center;
    padding-top: 20px;
}

/* Config Header */

/* Config del Navbar */
.checkbox,
.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 10px;
    right: 12px;
    cursor: pointer;
}

.icon {
    pointer-events: none;
    font-size: 24px;

}

.checkbox {
    opacity: 0;
}

.fi-rr-cross {
    display: none;
}

.checkbox:checked~.fi-rr-menu-burger {
    display: none;
}

.checkbox:checked~.fi-rr-cross {
    display: block;
}

.menu {
    width: 130px;
    position: absolute;
    top: -250px;
    right: 0px;
    transition: 250ms;
    z-index: 1;
}

li {
    display: block;
    text-align: start;
    list-style: none;
    font-size: 10px;
    line-height: 20px;
}

a {
    text-decoration: none;
    background-color: #3e566f;
    color: #ff8351;
    display: block;
    padding: 10px 6px;
}

a:hover {
    background: rgb(232, 135, 10);
    color: rgb(240, 248, 255);
}

.checkbox:checked~.menu {
    top: 40px;
}

.main {
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.img_container {
    font-family: 'Times New Roman', Times, serif;
}

.modelo_img {
    position: relative;
    text-align: center;
    padding: 0px;
}

.texto_img {
    text-align: center;
    bottom: 100px;
}

.texto_img h1 {
    text-align: center;
    position: relative;
    color: #fff;
}

.producto {
    position: absolute;
    text-align: center;
    left: 200px;
}


.ver_productos {
    position: absolute;
    width: 200px;
    bottom: 80px;
    right: 90px;
    border: 1px solid black;
}



.card {
    margin: 2%;
    background: #fff;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    width: 150px;
    height: 200px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: .2s all;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}

.card>span {
    display: block;
    position: absolute;
    padding-top: 5rem;
    margin: auto;
    max-width: 240px;
}

.card>img {
    width: 250px;
    height: 300px;
    object-fit: contain;
}

.container:hover .card {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}

.container:hover .card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background: #3dbcd5;
    color: white;
}
