.contacto {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 95vh;

    form {
        width: 450px;
        margin: auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 3em;
        border-radius: 7px;

        h2 {
            color: #fff;
            text-align: center;
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
        }

        input,
        textarea {
            width: 100%;
            margin-bottom: 20px;
            padding: 7px;
            box-sizing: border-box;
            font-size: 17px;
            border: none;
        }

        textarea {
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }

        #boton {
            background: #fff;
            color: #ff8351;
            padding: 10px;

            &:hover {
                color: #fff;
                background-color: transparent;
            }
        }
    }
}





@media (max-width: 480px) {
    form {
        width: 100%;
    }
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 3rem;
    margin-left: 25%;

}

@media screen and (min-width: 768px) {
    main {
        align-items: center;
    }
}