main {
    p {
        font-size: 1.4em;
        margin-top: 1em;
        text-align: right;
        color: #fff;
    }

    button {
        border: 1px solid rgb(245, 237, 237);
        color: #ff8351;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0.2em;

        &:hover {
            background-color: transparent;
            color: #fff;
            ;
        }
    }
}