.header_container {
    height: 40px;
    width: 100%;

    nav {
        height: 40px;
        display: flex;
        justify-content: start;
        position: relative;

        h1 {
            color: chartreuse;
            text-align: start;
            position: absolute;
            font-size: 30px;
            padding-left: 2rem;
        }

        p {
            text-align: start;
            position: absolute;
            padding-left: 6rem;
            top: 2.0rem;
            font-size: 12px;
        }
    }
}
